<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <!-- Bootstrap 5.2.3 Version -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">


  <!-- Datepicker 생일 클릭시 달력 이벤트 -->
  <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css}">
  <link rel="stylesheet" th:href="@{/resources/demos/style.css}">
  <script th:src="@{https://code.jquery.com/jquery-3.6.0.js}"></script>
  <script th:src="@{https://code.jquery.com/ui/1.13.2/jquery-ui.js}"></script>
  <script>

    $(function () {
      $("#birthday").datepicker();
    });
  </script>

  <title>개묘한 이야기</title>
</head>
<body>
<!--
유효성 검사 추가 예정
건너뛰기 클릭시 유효성 검사 무시
-->

<div th:replace="~{fragments/header :: header}"/>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>반려동물 등록</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <form role="form" action="home">
        <div class="form-group">

          <label th:for="species">
            종
          </label>
          <br>
          <label><input type="radio" name="species" value="dog"> 강아지</label>
          <label><input type="radio" name="species" value="cat"> 고양이</label>
        </div>

        <div class="form-group">

          <label for="breed">
            품종
          </label>
          <input type="text" class="form-control" id="breed"/>
        </div>

        <div class="form-group">

          <label for="petName">
            이름
          </label>
          <input type="text" class="form-control" id="petName"/>
        </div>

        <div class="form-group">

          <label for="birthday">
            생일
          </label>
          <input type="text" class="form-control" id="birthday"/>
        </div>

        <div class="form-group">

          <label th:for="sex">
            성별
          </label>
          <br>
          <label><input type="radio" name="sex" value="female"> 암컷</label>
          <label><input type="radio" name="sex" value="male"> 수컷</label>
          <label><input type="radio" name="sex" value="spayed_female"> 중성화 암컷</label>
          <label><input type="radio" name="sex" value="neutered_female"> 중성화 수컷</label>
        </div>

        <div class="form-group">

          <label for="weight">
            몸무게
          </label>
          <input type="text" class="form-control" id="weight"/>
        </div>


        <br>
        <button type="submit" class="btn btn-primary">
          작성 완료
        </button>
      </form>
      <br>
      <!--토큰 있을때는 hidden으로 숨길 예정-->
      <button type="button" class="btn active btn-secondary"
              onclick="location.href = 'groupCreate'">
        뒤로가기
      </button>
      <button type="button" class="btn active btn-secondary" onclick="location.href = 'home'">
        건너뛰기
      </button>


    </div>
    <div class="col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
