<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <title>개묘한 이야기</title>
</head>
<body>

<!--헤더-->
<div th:replace="~{fragments/header :: header}"/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12"></div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3> 로그인 </h3>
        </div>
        <div class="col-md-4">
          <!--회원가입 폼-->
          <form role="form">
            <div class="form-group">
              <label for="exampleInputEmail1">
                Email address
              </label>
              <input type="email" class="form-control" id="exampleInputEmail1"/>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">
                Password
              </label>
              <input type="password" class="form-control" id="exampleInputPassword1"/>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">
              로그인
            </button>
          </form>

          <br>

          <button type="button" class="btn btn-secondary" onclick="location.href = 'join'">
            회원 가입
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
</body>
</html>
